#container {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 30%;
    margin: 1.4%;
    margin-left: auto;
    font-size: 40px;
}

h1 {
    margin-left: 1.4%;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px;
    width: 50%; 
} 

.titulo{
        display: inline;
        font-family: "Tiny5", sans-serif;
        font-weight: 400;
        font-style: normal;
        border-bottom: 2px solid red; 
        padding-bottom: 5px; 
      }  
      
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    font-family: 'Tiny5', sans-serif;
}

footer a {
    color: #7c216d; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}